<h1>メッセージルーム</h1>
  <h2>ユーザー検索</h2>
    <%= form_with url: m_index_path, method: :get, local: true do |f| %>
      <%= f.text_field :nickname %>
      <%= f.submit :search %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>検索結果</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to(user.nickname, room_path(user_id: current_user.id, to_user_id: user.id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
 <h2>メッセージ履歴</h2>
 
   
  <% @message_user_ids.each do |message_user_id|
    message_user = User.find_by(id: message_user_id)  %>
      <% if message_user.presence %>
        <a href="/messages/room/<%= current_user.id %>/<%= message_user.id %>">
          <div class="border-b border-gray-200 flex py-4 bg-white items-center">
            <div class="w-10 h-10 mr-4">
            </div>
            <div class="">
              <a href="/messages/room/<%= current_user.id %>/<%= message_user.id %>">
              <!--<img src='/app/assets/images/rails.png', class="object-cover rounded-full h-10 w-10"/>-->
              <% if message_user.profile_image? %>
                <%= image_tag message_user.profile_image.url, class: "icon_size" %>
              <% else %>
                <i class="fas fa-user fa-3x"></i>
              <% end %>
              <%= message_user.nickname %>
              </a>
            </div>
          </div>
      <% else %>
        メッセージを行っているユーザーがいません　
    <% end %>
  <% end %>