<div class="container" style="margin-top: 15px">
  <%= form_for(:session, url: log_upd_path, method: :patch) do |f| %>
    
    <div class="form-group">
      <%= f.label :ニックネーム %>
      <%= f.text_field :nickname, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>年代</label><br>
      <label><%= f.radio_button :age, "10s" %>10代</label>
      <label><%= f.radio_button :age, "20s" %>20代</label>
      <label><%= f.radio_button :age, "30s" %>30代</label>
      <label><%= f.radio_button :age, "40s" %>40代</label>
      <label><%= f.radio_button :age, "50s" %>50代</label>
      <label><%= f.radio_button :age, "60s" %>60代</label>
      <label><%= f.radio_button :age, "70s" %>70代</label>
      <label><%= f.radio_button :age, "80s" %>80代</label>
      <label><%= f.radio_button :age, "90s" %>90代</label>
    </div>
    
    <div class="form-group">
      <label>性別</label>
      <br>
      <label><%= f.radio_button :sex, "men" %>男性</label>
      <label><%= f.radio_button :sex, "fimale" %>女性</label>
    </div>
    
    <div class="form-group">
      <%= f.label :city, value="住所（市町村）" %>
      <%= f.text_field :city, id: 'city', class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :answer_digest, value="好きな食べ物はなんですか？" %>
      <%= f.text_field :answer_digest, class: 'form-control' %>
    </div>
    
      <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
  <% end %>

  <h2>まだ登録していない</h2>
  <%= link_to "新規登録", u_new_path %>
</div>