<% visitor = notification.visitor %>
<% visited = notification.visited %>
<%= link_to user_path(notification.visitor) do %>
  <% if visitor.profile_image? %>
    <%= image_tag visitor.profile_image.url, class: "rounded-circle", size: "30x30" %>
  <% else %>
    <%= image_tag "icon.png", class: "rounded-circle", size: "30x30", style: "border: 3px solid black;" %>
  <% end %>
<% end %>  
<%== notification_form(notification) %>
<br><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
<div style="margin-bottom:20px;"></div>
<% if !@comment.nil? %>
  <!--<p><%= @comment %></p>-->
<% end %>
<% if !@reply.nil? %>
  <!--<p><%= @reply %></p>-->
<% end %> 
<% if !@message.nil? %>
  <!--<p><%= @message %></p>-->
<% end %> 