<div class="container" style="margin-top: 15px">
  <h3 class="title"><%= @user.nickname %></h3>
    <p class="title">さんのページ</p>
  
  <div class="prof">
    <div class="prof-icon">
      <% if @user.profile_image? %>
        <%= image_tag @user.profile_image.url, class: "rounded-circle", size: "130x130" %>
      <% else %>
        <%= image_tag "icon.png", class: "rounded-circle", size: "130x130", style: "border: 3px solid black;" %>
        <!--<i class="fas fa-user fa-5x" style="width:150px; height: auto; border-radius:50%;"></i>-->
      <% end %>
    </div>
      <div class="status">
        <p>
        <span class="align">年&emsp;代：</span><%= @user.age %>
        <br>
        <span class="align">性&emsp;別：</span><%= @user.sex %>
        <br>
        <span class="align">居住地：</span><%= @user.prefucture %>
        <br>
        <span class="align">分&emsp;類：</span><%= @user.classification %>
        <br>
        <span class="align">介護の対象：</span><%= @user.nursing %>
        </p>
      </div>
  </div>
  <hr>
  <div class="pfof-text">
    <h3 class="title">自己紹介</h3>
    <p><%= @user.status %></p>
    <hr>
    <div class="title">
      <h3>情報交換したいこと</h3>
      1.<%= @user.key_word1 %>,&emsp; 2.<%= @user.key_word2 %>,&emsp; 3.<%= @user.key_word3 %>
    </div>
    <hr>
  </div>
  <div class="sns-zone">
    <button class="sns-btn" style="padding:10px 18px;"><%= link_to "#{@user.nickname}さんのお気に入り一覧", u_sts_path("#{@user.id}") %></button>
    <%= render 'follow_form' if logged_in? %>
    <% unless current_user == @user %>
      <button class="sns-btn"><%= link_to "#{@user.nickname}さんにメッセージを送る", chat_path(sender_id: current_user.id, receiver_id: @user.id) %></button>
    <% end %>
    <!--<%= render 'shared/stats' %>-->
  </div>
<hr>
<h3 class="title">投稿一覧(全<%= @user.posts.count %>投稿）</h3>
  
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-header">
        <%= link_to post.title, p_show_path(post.id) %>
      </div>
      <div class="card-body">
        検索キーワード
        <br>
        <%= "#1.#{post.key_word1}" %>&emsp; <%= "#2.#{post.key_word2}" %>&emsp; <%= "#3.#{post.key_word3}" %>&emsp;
        <%= "#4.#{post.key_word4}" %>&emsp; <%= "#5.#{post.key_word5}" %>&emsp;
        <br>
        <br>
        <%= "投稿時間：#{post.created_at.to_s(:datetime_jp)}" %>
        <br>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
  </div>