<div class="container" style="margin-top: 15px">
  <div class="prof">
    <h3 class="title"><%= @user.nickname %>さんのページ</h3>
    <div class="prof-icon">
      <% if @user.profile_image? %>
        <%= image_tag @user.profile_image.url, class: "rounded-circle", size: "130x130" %>
      <% else %>
        <%= image_tag "icon.png", class: "rounded-circle", size: "130x130", style: "border: 3px solid black;" %>
        <!--<i class="fas fa-user fa-5x" style="width:150px; height: auto; border-radius:50%;"></i>-->
      <% end %>
    </div>
      <div class="status">
        <p>
        <span class="align">年&emsp;代：</span><%= @user.age %>
        <br>
        <span class="align">性&emsp;別：</span><%= @user.sex %>
        <br>
        <span class="align">居住地：</span><%= @user.prefucture %>
        <br>
        <span class="align">分&emsp;類：</span><%= @user.classification %>
        <br>
        <span class="align">介護の対象：</span><%= @user.nursing %>
        </p>
        <!--<p>-->
        <!--<%= "年代：#{@user.age}" %>-->
        <!--<br>-->
        <!--<%= "性別：#{@user.sex}" %>-->
        <!--<br>-->
        <!--<%= "居住地：#{@user.prefucture}" %>-->
        <!--<br>-->
        <!--<%= "分類：#{@user.classification}" %>-->
        <!--<br>-->
        <!--<%= "介護の対象：#{@user.nursing}" %>-->
        <!--</p>-->
      </div>
  </div>
  <hr>
  <div class="pfof-text">
    <h3 class="title">自己紹介</h3>
    <p><%= @user.status %></p>
    <hr>
    <div class="title">
      <h3>情報交換したいこと</h3>
      1.<%= @user.key_word1 %>,&emsp; 2.<%= @user.key_word2 %>,&emsp; 3.<%= @user.key_word3 %>
    </div>
    <hr>
  </div>
    <section class="stats"> 
      <button class="entry"><%= link_to "#{@user.nickname}さんのお気に入り一覧", u_sts_path("#{@user.id}") %></button>
      <!--<%= render 'shared/stats' %>-->
      
    </section>
    <!--<section class="stats">-->
    <!--<h3>お気に入りしている投稿</h3>-->
    <!--  <% @user.liked_posts.each do |post| %>-->
    <!--    <%= link_to post.user.nickname, u_show_path(post.user.id) %>-->
    <!--    <%= link_to post.title, p_show_path(post.id)%>-->
    <!--  <% end %>-->
    <!--</section>-->
    <%= render 'follow_form' if logged_in? %>
    <% unless current_user == @user %>
      <button class="entry"><%= link_to "#{@user.nickname}さんにメッセージを送る", chat_path(sender_id: current_user.id, receiver_id: @user.id) %></button>
    <% end %>
<hr>
<h3 class="title">投稿一覧(全<%= @user.posts.count %>投稿）</h3>
<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">タイトル</th>-->
<!--      <th scope="col">作成日時</th>-->
<!--      <th scope="col">検索キーワード</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <% @user.posts.each do |post| %>-->
<!--    <tr>-->
<!--      <td><%= link_to post.title, p_show_path(post.id) %></td>-->
<!--      <td><%= post.created_at.to_s(:datetime_jp) %></td>-->
<!--      <td><%= "#1.#{post.key_word1},#2.#{post.key_word2},#3.#{post.key_word3},#4.#{post.key_word4},#5.#{post.key_word5}," %></td>-->
<!--    </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->
  
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-header">
        <%= link_to post.title, p_show_path(post.id) %>
      </div>
      <div class="card-body">
        検索キーワード
        <br>
        <%= "#1.#{post.key_word1}" %>&emsp; <%= "#2.#{post.key_word2}" %>&emsp; <%= "#3.#{post.key_word3}" %>&emsp;
        <%= "#4.#{post.key_word4}" %>&emsp; <%= "#5.#{post.key_word5}" %>&emsp;
        <br>
        <br>
        <%= "投稿時間：#{post.created_at.to_s(:datetime_jp)}" %>
        <br>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
  </div>