<h3>
  <% if @room %>
    <% if @room.receiver.id == current_user.id %>
      <%= @room.sender.nickname %>さん<br>とのメッセージ
    <% else %>
      <%= @room.receiver.nickname %>さん<br>とのメッセージ
    <% end %>
  <% else %>
    <%= @receiver.nickname %>さん<br>とのメッセージ
  <% end %>
</h3>

  <% @messages&.each do |message| %>
    <div class="kaiwa line">
      <% if message.sender_id == current_user.id %>
        <div class="nameright">
          <%= @sender.nickname %>
        </div>
        <div class="fukidasi right">
          <% if @sender.profile_image? %>
            <%= image_tag @sender.profile_image.url, width: "40px", class: "iconright" %>
          <% else %>
            <i class="iconright fas fa-user fa-2x"></i>
          <% end %>
          <%= message.content %>
        </div>
        <div class="mes_des">
          <% if current_user.id == message.sender_id %>
            <%= link_to "削除", mes_des_path(message.id), method: :delete %>
          <% end %>
        </div>
        <br>
    <% else %>
      <% if @room.receiver == current_user %>
        <% @receiver = @room.sender %>
      <% else %>
        <% @receiver = @room.receiver %>
      <% end %>
        <div class="name">
          <%= @receiver.nickname %>
        </div>
        <div class="fukidasi left">
          <% if @receiver.profile_image? %>
            <%= image_tag @receiver.profile_image.url, width: "40px", class: "icon" %>
          <% else %>
            <i class="icon fas fa-user fa-2x"></i>
          <% end %>
          <%= message.content %>
        </div>
        <br>
        <br>
        <% if current_user.id == message.sender_id %>
          <%= link_to "削除", mes_des_path(message.id), method: :delete %>
        <% end %>
      <% end %>
     </div>
  <% end %>
<hr>
<div class="mes-form">
  <%= form_for(:message, url: m_send_path) do |form| %>
    <%= form.text_area :content, id: "content", rows: "4", class: "form_textarea mb-4" %>
    <% if @room %>
      <%= form.text_field :room_id, class: "hidden hide", value: @room.id %>
    <% else %>
      <%= form.text_field :sender_id, class: "hidden hide", value: @sender.id %>
      <%= form.text_field :receiver_id, class: "hidden hide", value: @receiver.id %>
    <% end %>
    <br>
    <%= form.submit "メッセージ送信", class: "btn_01" %>
  <% end %>
</div>