<h1>メッセージルーム</h1>
  <h2>ユーザー検索</h2>
    <%= form_with url: room_path, method: :get, local: true do |f| %>
      <%= f.text_field :nickname %>
      <%= f.submit :search %>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>検索結果</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <% if user.nickname != current_user.nickname %>
              <td><%= link_to(user.nickname, chat_path(sender_id: current_user.id, receiver_id: user.id)) %></td>
            <% end %>
          </tr>
        <% end %>
        <% if @users.empty? %>
          <td>一致する検索結果がありませんでした</td>
        <% end %>
      </tbody>
    </table>
 
<h2>メッセージ履歴</h2>
<ul>
  <% @rooms.each do | room | %>
    <li>
      <% if @user.id == room.receiver.id %>
        <%= link_to "#{room.sender.nickname}さんとのメッセージ", exist_room_path(room.id) %>
      <% else %>
        <%= link_to "#{room.receiver.nickname}さんとのメッセージ", exist_room_path(room.id) %>
      <% end %>
      <br>
      <%= link_to "履歴の削除", room_des_path(room.id), method: :delete %>
    </li>
  <% end %>
  <% if @rooms.empty? %>
     <li>メッセージの履歴がありません</li>
   <% end %>
</ul>