<div class="container" style="margin-top: 15px">
<h1>お気に入りユーザーの投稿一覧</h1>
<table class="table table-hover">
  <% @follow_users.each do |fu| %>
    <% fu.posts.each do |lp|%>
      <thead>
        <tr>
          <th scope="col">投稿者</th>
          <th scope="col">投稿タイトル</th>
          <th scope="col">投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><% if fu.profile_image? %>
                <%= image_tag fu.user.profile_image.url, class: "icon_size" %>
              <% else %>
                <i class="fas fa-user fa-3x"></i>
              <% end %>
              <%= link_to fu.nickname, u_show_path(fu.id) %>
          </td>
          <td><%= link_to lp.title, p_show_path(lp.id) %></td>
          <td><%= lp.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="5" scope="col" text-algn="center">投稿キーワード</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= "#1#{lp.key_word1}" %></td>
          <td><%= "#2#{lp.key_word2}" %></td>
          <td><%= "#3#{lp.key_word3}" %></td>
          <td><%= "#4#{lp.key_word4}" %></td>
          <td><%= "#5#{lp.key_word5}" %></td>
        </tr>
      </tbody>  
    </table>
    <% end %>
    <% if fu.posts == [] %>
      <td>お気に入りユーザーの投稿がありません</td>
    <% end %>
  <% end %>
</table>
    <% if @follow_users == [] %>
      <h3><b>まだお気に入り登録しているユーザーがいません</b></h3>
    <% end %>
</div>