<div class="container" style="margin-top: 15px">
  <div class="card">
    <div class="card-header">
      <% if @post.user.profile_image? %>
            <%= image_tag @post.user.profile_image.url, class: "icon_size" %>
          <% else %>
            <i class="fas fa-user fa-3x"></i>
          <% end %>
      <%= link_to @post.user.nickname, u_show_path(@post.user.id) %>
    </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <%= image_tag(@post.picture.url, width: "80%", margin: "0 auto") if @post.picture? %>
      <%= link_to @post.video_url.to_s do %>
       <%= video_tag(@post.video.to_s, width: "100%", height: "100%") if @post.video?%>
      <% end %>
      <p><%= @post.content %></p>
      <footer class="blockquote-footer">作成時間: <i class="far fa-clock clock-icon"></i><%= date_format(@post.created_at) %></footer>
    </blockquote>
  </div>
    <% if current_user?(@post.user) %>
    <div class="edit_delete">
      <%= link_to "投稿の編集", p_edit_path(@post.id) %>
      <%= link_to "投稿の削除", p_des_path(@post.id), method: :delete %>
    </div>
    <% end %>
  </div>
    <% if current_user.already_liked?(@post) %>
      <a href="/posts/<%= @post.id %>/likes/<%= current_user.id%>" data-method="delete"><i class="fas fa-heart"></i>取り消し</a>
    <% else %>
      <a href="/posts/<%= @post.id %>/likes" data-method="post"><i class="far fa-heart"></i>お気に入り</a>
    <% end %>
    <button id="comment" class="hide_btn"><i class="far fa-comments"></i>コメントする</button>
    
    <div id="comment_form" class="card my-1"> 
      <div class="card-body">
        <p class="font-weight-bold">投稿へのコメント</p>
        <%= form_for(@comment, url: p_com_path(@post.id)) do |f| %>
          <%= f.text_field :content %>
          <br>
          <%= f.submit 'コメントする' %>
        <% end %>
      </div>
    </div>
    
    <h2>コメント一覧</h2>
      <% if @comments.presence %>
        <% @comments.each do |c| %>
          <div class="card">
            <div class="card-header">
              <% if c.user.profile_image? %>
                <%= image_tag c.user.profile_image.url, class: "icon_size" %>
              <% else %>
                <i class="fas fa-user fa-3x"></i>
              <% end %>
              <%= link_to c.user.nickname, u_show_path(c.user.id) %>
            </div>
            <div class="card-body">
              <%= c.content %>
              <br>
              <%= "コメント時間：#{date_format(c.created_at)}" %>
              <% if current_user.id == c.user_id%>
                <%= link_to "コメントの削除", com_des_path(c.id), method: :delete %>
              <% end %>
            </div>
          <!--</div>-->
            <!--<button class="reply" class="hide_btn">コメントに返信する</button>-->
              <div class="reply_form">
                <%= form_for(@reply, url: reply_path(comment_id: c.id, user_id: current_user.id)) do |f| %>
                  <%= f.text_field :re_comment %>
                  <br>
                  <%= f.submit 'コメントに返信する' %>
                <% end %>
              </div>
          </div>
                <% if c.replies.presence %>
                  <% c.replies.each do |rep| %>
                    <div class="card rep">
                      <div class="card-header">
                        <% if rep.user.profile_image? %>
                          <%= image_tag rep.user.profile_image.url, class: "icon_size" %>
                        <% else %>
                          <i class="fas fa-user fa-3x"></i>
                        <% end %>
                        <%= link_to rep.user.nickname, u_show_path(rep.user.id) %>
                      </div>
                      <div class="card-body">
                        <%= rep.re_comment %>
                        <br>
                        <%= "コメント時間：#{date_format(rep.created_at)}" %>
                      </div>
                      <% if current_user.id == rep.user_id%>
                        <%= link_to "コメントの削除", rep_des_path(rep.id), method: :delete %>
                      <% end %>
                      <!--<button class="reply" class="hide_btn">コメントに返信する</button>-->
                        <div class="reply_form">
                          <%= form_for(@reply, url: reply_path(comment_id: c.id, user_id: current_user.id)) do |f| %>
                            <%= f.text_field :re_comment %>
                            <br>
                            <%= f.submit 'コメントに返信する' %>
                          <% end %>
                        </div>
                    </div>
                  <% end %>
                <% end %>
        <% end %>
      <% else %>
        まだコメントがありません。
      <% end %>
</div>



<script>
  $('#comment').click(function() {
        $('#comment_form').fadeIn();
    })
    
  document.getElementsByClassName('reply').click(function() {
        $('#reply_form').fadeIn();
    })
</script>