<nav class="head-nav navbar navbar-light" style="padding: 0px">
  <% if logged_in? %>
    <div style="padding-left: 25px;">
      <% if current_user.profile_image? %>
        <%= image_tag current_user.profile_image.url, class: "rounded-circle", size: "30x30" %>
      <% else %>
        <%= image_tag "icon.png", class: "rounded-circle", size: "30x30", style: "border: 3px solid black;" %>
      <% end %>
      <%= "#{current_user.nickname}さん" %>
    </div>
    <div class="notice">
      <a class="nav-item nav-link nav-footer" href="/notifications" style="margin: 0px; padding: 0px;"><i class="far fa-bell fa-1x"></i><p style="margin: 0px;">お知らせ</p></a>
        <% if unchecked_notifications.any? %>
          <i class="fa fa-circle notification-circle notice_mark" style="color:tomato"></i>
        <% end %>
    </div>
  <% else %>
    <a class="navbar-brand" href="/" style="padding-left: 25px;">つながり</a>
  <% end %>
    
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right:25px; outline:1px auto gray;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="toggle-color navbar-collapse collapse" id="navbarNavAltMarkup">
    <% if logged_in? %>
    <div class="navbar-nav nav-position">
      <%= link_to "#{current_user.nickname}さんのプロフィール", u_show_path(current_user), class: "nav-item nav-link first-line nav-padi" %>
      <%= link_to "ユーザー一覧", u_index_path, class: "nav-item nav-link nav-padi" %>
      <%= link_to "新規投稿", p_new_path, class: "nav-item nav-link nav-padi" %>
      <%= link_to "投稿一覧", p_index_path, class: "nav-item nav-link nav-padi" %>
      <%= link_to "お気に入りユーザーの投稿一覧", p_like_path, class: "nav-item nav-link nav-padi" %>
      <%= link_to "ユーザー情報更新", u_edit_path(current_user), class: "nav-item nav-link nav-padi" %>
      <%= link_to "運営への問い合わせ", consultation_path, class: "nav-item nav-link nav-padi" %>
      <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-item nav-link nav-padi" %>
    </div>
    <% else %>
    <div class="navbar-nav first-line" style="padding-left: 25px;">
      <%= link_to "新規登録", u_new_path, class: "nav-item nav-link " %>
      <%= link_to "ログイン", login_path, class: "nav-item nav-link" %>
    </div>
    <% end %>
  </div>
</nav>